<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="../static/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <br />
        <p style="text-align:center;font-family: youth_powerregular;font-size: 200px;color:lightseagreen">Refugee AI </p>
        
        <form >
            <div class="container">
                    <br />
                    <p style = "color:teal; text-align: center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 20px">Immigrating to the United States can be a daunting task. By harnessing artificial intelligence and big data, things get a lot simpler.</p>
                    <p style="text-align: center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Simply input how many years of education you have, and your level of english.</p>
                    <br />
                    
                <p>Years of Education</p>
                <input type="number" min="0" max="35" id="Edu">
            <!-- </form> -->
            <!-- <form > -->
                <p>Level of English</p>
                <input type="number" min="0" max="4" id="English">
            <!-- </form> -->
            <!-- <form> -->
                <br><br> <button onclick=id="Submit">Submit</button>  <br>
            <!-- </form> -->
            <!-- <form> -->
                <p>Value: <span id = "Result"></span></p>
            </div>
        </form>
    </body>
    <script>

    let education = document.querySelector("#Edu")
    let english = document.querySelector("#English")


    let educationValue = education.value
    let englishValue = english.value


    let result = document.querySelector("#Result")

    const btn = document.querySelector("#Submit")

    btn.addEventListener("click", function(){
        educationValue = education.value
        englishValue = english.value

        console.log(educationValue)
        console.log(englishValue)
        fetch("https://hacknyapi.onrender.com/predict", {
            body:`{"Schooling": ${educationValue}, "English": ${englishValue}}`,
            headers: {
            "Content-Type": "application/json"
            },
            method: "POST"
        }).then(res => res.text()).then(
            text => {
                let data = JSON.parse(text)
                // console.log(data["Result"])
                result.innerHTML = data["Result"]
            })
    })

    /*
.then(res => res.text()).then(
            text => {
                console.log(text[0])
                result.innerHTML = text
            })

            .then(res => {
            console.log(res.text())
        })
    */
    

    
    </script>
</html>